<!--content section-->
<div class="wrapper spacerbottom">

  <div class="container">
    <div class="row">
      <div class="col-sm-12"> 
        
        <!--lawyers info-->
        <div class="row lawyers-details infopage">
          <div class="row overflow">
            
            <div class="col-sm-6 appointment">            
              <form>
                <ul>
                  <li>
                    <div class="verify-mobile">
                      <div class="code-box">
                        <input type="text" placeholder="Enter code" ng-model="mobile_otp">
                        <input type="submit" value="Verify" class="verify" ng-click='submit_OTP()'>
                      </div>                                        
                    </div>
                  </li>
                </ul>

            </div>
          </div>
        </div>
        <!--lawyers info end--> 
        
      </div>
    </div>
  </div>
 
</div>
