<!DOCTYPE html>
<html lang="en" ng-app="aceApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <title>pickace.com | search , select and find lawyer.</title>
    <!-- google fonts font-family: 'Raleway', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- font-awesome -->
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body ng-controller="homeCtrl">
    <div class="wrapper">
        <header class="header">
<div class="logo">
    <a href="/">pickace.com</a>
</div>

<div class="headerRight">
      
      <nav class="navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="menu">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>
        </header>
         </div>
        <!--content section-->
     <div class="main-searh-section">
  <div class="wrapper">
  <!--content section-->
  <div class="container">
            <div class="row">
            <div class="main-searh-section">
                <div class="main-heading">
                    <h1>Search, Select and book <strong>Best</strong> Lawyer</h1>
                </div>
                <form class="navbar-form navbar-left home-serch-form" role="search" action="search" method="GET">
                    <div class="form-group">
                        <span>
                            <i class="fa fa-map-marker"></i>
                            <input type="text" id="id_q" name="q" class="form-control" placeholder="Location">
                        </span>
                        <span>
                            <i class="fa fa-search"></i>
                            <input type="text" id="id_feature" name="feature" class="form-control serch-input" placeholder="Area of Practice">
                        </span>
                    </div>
                    <button type="submit" class="btn btn-default custome-btn"> <i class="fa fa-search"></i></button>
                </form>
            
            </div>
                
            
            </div>
 
    </div>
  </div>
   </div>
   
   
    <div class="wrapper">
   <div class="container">
            <div class="row">
                <div class="col-sm-12">



                    <!--View By Practice Area-->
                    <div class="department">
                        <h2>View By Top 50 Practice Area</h2>
                        <div class="department-detail">
                       <ul>
                                <li ng-repeat="n in city track by $index">{{ n }}</li>
                                        </ul>

                        </div>

                    </div>
                    <!--View By Practice Area end-->


                    <!--View By state-->
                    <div class="department">
                        <h2>View By State</h2>
                        <div class="department-detail">

                       <ul>
                                <li ng-repeat="n in city track by $index">{{ n }}</li>
                                        </ul>                          
                        </div>

                    </div>


                </div>

                
            </div>
        </div>
 </div>
  <div class="wrapper">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Know us</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3>Business with us.</h3>
                        <ul>
                            <li><a href="#">Start Business</a></li>
                            <li><a href="#">Manage Business</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3>More</h3>
                        <ul>
                            <li><a href="#">Copyright Policy</a></li>
                            <li><a href="#">Terms & conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>


            <div class="container spacerTop">
                <div class="row">
                    <div class="col-sm-9">
                        <span class="copyright">
&copy; 2015 Pickace.com All Rights Reserved.
</span>
                    </div>


                    <div class="col-sm-3">
                        <ul class="social-icon">
                            <li><a href="http://facebook.com/pickace" class="fa fa-facebook">&nbsp;</a></li>
                            <li><a href="https://twitter.com/pickace_com" class="fa fa-twitter">&nbsp;</a></li>
                            <li><a href="" class="fa fa-google-plus">&nbsp;</a></li>
                            <li><a href="https://www.linkedin.com/in/pickace" class="fa fa-linkedin">&nbsp;</a></li>
                            <li><a href="https://in.pinterest.com/pickace/" class="fa fa-pinterest">&nbsp;</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </footer>
    </div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/site.js"></script>
<link rel="stylesheet" href="assets/jquery-ui.css">
<script src="assets/jquery-ui.js"></script>
<script src="assets/angular.min.js"></script>
<script>
var aceApp = angular.module('aceApp', []);    
    aceApp.controller('homeCtrl', function($scope) {
           $scope.city = ['New Delhi', 'Test', 'Z Square', 'I', '1', 'TEST IS HERE MY', 'HHHHHHHHHHHHHHHh', '1',
                          'New Delhi', 'Test', 'Z Square', 'I', '1', 'TEST IS HERE MY', 'HHHHHHHHHHHHHHHh', '1',
                           'New Delhi', 'Test', 'Z Square', 'I', '1', 'TEST IS HERE MY', 'HHHHHHHHHHHHHHHh', '1',
                           'New Delhi', 'Test', 'Z Square', 'I', '1', 'TEST IS HERE MY', 'HHHHHHHHHHHHHHHh', '1',
                           'New Delhi', 'Test', 'Z Square', 'I', '1', 'TEST IS HERE MY', 'HHHHHHHHHHHHHHHh', '1'];

            $("#id_q" ).autocomplete({
                minLength: 0,
                source: ['test', 'test is here', 'T E S T', 'T', 'test is my life and wife.'],
                focus: function(event, ui) {
                    $("#id_q").val(ui.item.label);
                return false;
                },
                select: function( event, ui) {
                    $("#id_q").val(ui.item.label);
                    $("#id_q").val(ui.item.value); 
                    return false;
                  }
            })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li class='location_dropdown'>")
                    .append(item.label)
                    .appendTo( ul );
                 };
            $("#id_feature" ).autocomplete({
                minLength: 0,
                source: ['test', 'test is here', 'T E S T', 'T', 'test is my life and wife.'],
                focus: function(event, ui) {
                    $("#id_feature").val(ui.item.label);
                return false;
                },
                select: function( event, ui) {
                    $("#id_feature").val(ui.item.label);
                    $("#id_feature").val(ui.item.value); 
                    return false;
                  }
            })
                .autocomplete("instance")._renderItem = function( ul, item ) {
                    return $( "<li class='feature_dropdown'>")
                    .append(item.label)
                    .appendTo( ul );
                 };
           
    });
</script>


<script>
var height_1=parseInt($(window).outerHeight());
var height_2=parseInt($("header.header").outerHeight()+$(".main-searh-section").outerHeight());
var height_3=parseInt(height_1-height_2);
var main_height=parseInt(height_3/2);
$(".main-searh-section").css("padding-top",main_height).css("padding-bottom",main_height+20);
</script>



</body>

</html>
